#right .box
{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right .box .frm 
{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}

#right .box .frm h3 
{
    text-transform: uppercase;
    text-align: center;
}

#right .box .frm .submit-form 
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}