.thanh-hang-san-xuat .navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanh-hang-san-xuat .navbar .container .row .col .navbar-nav .nav-item .nav-link {
    font-weight: 500;
    margin-right: 30px;
    padding: 5px;
    transition: .5s all ease-in-out;
    color: white;
    background: orange;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
}

.thanh-hang-san-xuat .navbar .container .row .col .navbar-nav .nav-item .nav-link img {
    width: 25px;
    height: 25px;
}

.thanh-hang-san-xuat .navbar .container .row .col .navbar-nav .nav-item:hover .nav-link {
    background: #ffad60;
    color: #d9534f;
}

.hang-san-xuat
{
    position: relative;
}

.hang-san-xuat .hinh-nen-1, .hang-san-xuat .hinh-nen-2
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.hang-san-xuat .hinh-nen-1 {
    z-index: -1;
    background: #f6e58d;
    clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
  }
  
.hang-san-xuat .hinh-nen-2 {
    z-index: -2;
    background: #f9ca24;
    clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
  }

.hang-san-xuat.kich-hoat {
    background: rgba(0, 0, 0, 0.1);
}

  

.hang-san-xuat .container .col-1 {
    z-index: 1;
    position: fixed;
}

@media screen and (max-width: 768px) {
    .hang-san-xuat .container .col-1 {
        display: none;
    }
}

.hang-san-xuat .container .col-1 nav ul {
    list-style-type: none;
}

.hang-san-xuat .container .col-1 nav ul li {
    position: fixed;
    margin: 20px 0;
}

.hang-san-xuat .container .col-1 nav ul li a {
    border-radius: 5px;
    background: orange;
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
}

.hang-san-xuat .container .col-1 nav ul li a img {
    width: 25px;
    height: 25px;
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(1) {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: orange;
    color: white;
    left: 20px;
    top: 113px;
    font-size: 25px;
    font-weight: bold;
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(1)::before {
    content: '+';
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(1).kich-hoat::before {
    content: '-';
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(2) {
    top: 170px;
    left: 0;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(2).kich-hoat {
    left: 60px;
    opacity: 1;
    transition: .3s all ease-in-out;
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(3) {
    top: 220px;
    left: 0;
    opacity: 0;
    transition: .6s all ease-in-out;
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(3).kich-hoat {
    left: 90px;
    opacity: 1;
    transition: .6s all ease-in-out;
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(4) {
    top: 270px;
    left: 0;
    opacity: 0;
    transition: .9s all ease-in-out;
}

.hang-san-xuat .container .col-1 nav ul li:nth-child(4).kich-hoat {
    left: 120px;
    opacity: 1;
    transition: .9s all ease-in-out;
}

.hang-san-xuat .container .row .col-lg-4 .item {
    padding: 10px;
}

.hang-san-xuat .container .row .col-lg-4 .item figure {
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hang-san-xuat .container .row .col-lg-4 .item figure .img-box {
    transition: .5s all ease-in-out;
    position: relative;
    overflow: hidden;
}

.hang-san-xuat .container .row .col-lg-4 .item figure .img-box img {
    width: 100%;
    height: 286px;
}

.hang-san-xuat .container .row .col-lg-4 .item figure .img-box .fas {
    position: absolute;
    top: 50%;
    padding: 10px;
    transition: .5s all ease-in-out;
    border-radius: 5px;
    color: white;
    background: orange;
}

.hang-san-xuat .container .row .col-lg-4 .item figure .img-box .fas.fa-shopping-cart {
    left: 40%;
    transform: translateX(-20%) translateY(-700%);
}

.hang-san-xuat .container .row .col-lg-4 .item figure .img-box .fas.fa-eye {
    left: 60%;
    transform: translateX(-20%) translateY(700%);
}

.hang-san-xuat .container .row .col-lg-4 .item figure .img-box:hover {
    filter: opacity(0.8);
}

.hang-san-xuat .container .row .col-lg-4 .item figure .img-box:hover .fas.fa-shopping-cart,
.hang-san-xuat .container .row .col-lg-4 .item figure .img-box:hover .fas.fa-eye {
    transform: translateX(-20%) translateY(0%);
    transition: .5s all ease-in-out;
}

.hang-san-xuat .container .row .col-lg-4 .item figure .img-box:hover .fas.fa-shopping-cart:hover,
.hang-san-xuat .container .row .col-lg-4 .item figure .img-box:hover .fas.fa-eye:hover {
    background: #ffad60;
    color: #d9534f;
}

.hang-san-xuat .container .row .col-lg-4 .item figure figcaption h4 {
    font-weight: bold;
    font-size: 20px;
}

.hang-san-xuat .container .row .col-lg-4 .item figure figcaption .gia-luoc-xem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.hang-san-xuat .container .row .col-lg-4 .item figure figcaption .gia-luoc-xem .gia {
    font-weight: 600;
    color: red;
}

.hang-san-xuat .container .row .col-lg-4 .item figure figcaption .gia-luoc-xem .luoc-xem {
    color: #636e72;
}

.hang-san-xuat .container .row .col-lg-4 .item figure figcaption .chi-tiet {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hang-san-xuat .container .row .col-lg-4 .item figure figcaption .chi-tiet a {
    background: orange;
    padding: 3px 8px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: .5s all ease-in-out;
}

.hang-san-xuat .container .row .col-lg-4 .item figure figcaption .chi-tiet a:hover {
    background: #ffad60;
    color: #d9534f;
}