.index-page .bang-hieu .owl-carousel.owl-theme .item img {
  height: 200px;
}

@media screen and (min-width: 767px) {
  .index-page .bang-hieu .owl-carousel.owl-theme .item img {
    height: 300px;
  }
}

.index-page .san-pham-moi-nhat {
  position: relative;
}

.index-page .san-pham-moi-nhat .hinh-nen-1,
.index-page .san-pham-moi-nhat .hinh-nen-2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.index-page .san-pham-moi-nhat .hinh-nen-1 {
  z-index: -1;
  background: #f6e58d;
  clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
}

.index-page .san-pham-moi-nhat .hinh-nen-2 {
  z-index: -2;
  background: #f9ca24;
  clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
}

.index-page .san-pham-moi-nhat .container .row .col h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  position: relative;
  padding: 0 20px;
}

@media screen and (min-width: 767px) {
  .index-page .san-pham-moi-nhat .container .row .col h2 {
    font-size: 1.6em;
  }
}

.index-page .san-pham-moi-nhat .container .row .col h2::before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  background: #bdc3c7;
  z-index: -1;
}

.index-page .san-pham-moi-nhat .container .row .col h2 span {
  padding: 10px;
  background: white;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri {
  position: relative;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item {
  padding: 10px;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
  padding: 10px;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box {
  transition: .5s all ease-in-out;
  position: relative;
  overflow: hidden;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box .fas {
  position: absolute;
  top: 50%;
  padding: 10px;
  transition: .5s all ease-in-out;
  border-radius: 5px;
  color: white;
  background: #f39c12;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box .fas.fa-shopping-cart {
  left: 40%;
  transform: translateX(-20%) translateY(-700%);
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box .fas.fa-eye {
  left: 60%;
  transform: translateX(-20%) translateY(700%);
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover {
  filter: opacity(0.8);
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover .fas.fa-shopping-cart,
.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover .fas.fa-eye {
  transform: translateX(-20%) translateY(0%);
  transition: .5s all ease-in-out;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover .fas.fa-shopping-cart:hover,
.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover .fas.fa-eye:hover {
  background: #ffad60;
  color: #d9534f;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption h4 {
  font-weight: bold;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .gia-luoc-xem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .gia-luoc-xem .gia {
  font-weight: 600;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .gia-luoc-xem .luoc-xem {
  color: #636e72;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .chi-tiet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .chi-tiet a {
  background: #f39c12;
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: .5s all ease-in-out;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .chi-tiet a:hover {
  background: #ffad60;
  color: #d9534f;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 18px;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background: #f39c12;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-prev,
.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  background: #f39c12;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-prev span,
.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-next span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -59%);
  color: white;
  font-size: 25px;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-prev {
  left: -50px;
}

.index-page .san-pham-moi-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-next {
  right: -50px;
}

.index-page .san-pham-chay-nhat {
  position: relative;
}

.index-page .san-pham-chay-nhat .hinh-nen-1,
.index-page .san-pham-chay-nhat .hinh-nen-2 {
  width: 100%;
  height: 100%;
  position: absolute;
}

.index-page .san-pham-chay-nhat .hinh-nen-1 {
  z-index: -1;
  background: #f6e58d;
  clip-path: polygon(72% 74%, 100% 27%, 100% 100%, 5% 100%);
}

.index-page .san-pham-chay-nhat .hinh-nen-2 {
  z-index: -2;
  background: #f9ca24;
  clip-path: polygon(63% 69%, 100% 9%, 100% 100%, 5% 100%);
}

.index-page .san-pham-chay-nhat .container .row .col h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  position: relative;
  padding: 0 20px;
}

@media screen and (min-width: 767px) {
  .index-page .san-pham-chay-nhat .container .row .col h2 {
    font-size: 1.6em;
  }
}

.index-page .san-pham-chay-nhat .container .row .col h2::before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  background: #bdc3c7;
  z-index: -1;
}

.index-page .san-pham-chay-nhat .container .row .col h2 span {
  padding: 10px;
  background: white;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri {
  position: relative;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item {
  padding: 10px;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure {
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  padding: 10px;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box {
  transition: .5s all ease-in-out;
  position: relative;
  overflow: hidden;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box .fas {
  position: absolute;
  top: 50%;
  padding: 10px;
  transition: .5s all ease-in-out;
  border-radius: 5px;
  color: white;
  background: #f39c12;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box .fas.fa-shopping-cart {
  left: 40%;
  transform: translateX(-20%) translateY(-700%);
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box .fas.fa-eye {
  left: 60%;
  transform: translateX(-20%) translateY(700%);
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover {
  filter: opacity(0.8);
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover .fas.fa-shopping-cart,
.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover .fas.fa-eye {
  transform: translateX(-20%) translateY(0%);
  transition: .5s all ease-in-out;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover .fas.fa-shopping-cart:hover,
.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure .img-box:hover .fas.fa-eye:hover {
  background: #ffad60;
  color: #d9534f;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption h4 {
  font-weight: bold;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .gia-luoc-xem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .gia-luoc-xem .gia {
  font-weight: 600;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .gia-luoc-xem .luoc-xem {
  color: #636e72;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .chi-tiet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .chi-tiet a {
  background: #f39c12;
  padding: 3px 8px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: .5s all ease-in-out;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .item figure figcaption .chi-tiet a:hover {
  background: #ffad60;
  color: #d9534f;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 18px;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background: #f39c12;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-prev,
.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-next {
  position: absolute;
  top: 50%;
  background: #f39c12;
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-prev span,
.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-next span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -59%);
  color: white;
  font-size: 25px;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-prev {
  left: -50px;
}

.index-page .san-pham-chay-nhat .container .row.vi-tri .owl-carousel.owl-theme .owl-nav .owl-next {
  right: -50px;
}